@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
}
body {
  margin: 0;
  font-family: "Albert Sans", Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.01rem;
  color: #040405;

  app-home {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .h1 {
    font-family: "Frank Ruhl Libre" !important;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #040405;
    font-size: 2.5rem;
}

}
