<div class="container">
    <div class="title">
        <span class="h1">SGR Compliance Interview Project</span>
        <span class="point">.</span>
        <br>
        <div class="name">
            Candidate: Rachele Elia
        </div>
    </div>

    <div class="input">
        <mat-form-field>
            <mat-label>Sentiment Analysis</mat-label>
            <input #input matInput placeholder="Write here" [(ngModel)]="currentValue">
            <button *ngIf="currentValue" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
                <mat-icon>close</mat-icon>
                </button>
            <mat-hint *ngIf="sentiment !== '' ">
                {{ sentiment }}
            </mat-hint>
        </mat-form-field>

    </div>
</div>
